

.card {
  max-width: 250px;
  height: 350px;
  width: 100%;
  flex-basis: calc(20% - 10px);
  margin: 5px;
}

.card img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .card {
    flex-basis: calc(25% - 10px);
  }
}

@media only screen and (max-width: 992px) {
  .card {
    flex-basis: calc(33.33% - 10px);
  }
}

@media only screen and (max-width: 768px) {
  .card {
    flex-basis: calc(50% - 10px);
  }
}

@media only screen and (max-width: 576px) {
  .card {
    flex-basis: 100%;
  }
}


